!!!
%meta{ charset: 'utf-8' }
%meta{ name: :viewport, content: 'width=device-width, initial-scale=1' }
%link{ rel: :stylesheet, type: 'text/css', href: '/assets/semantic/icon.min.css' }
%link{ rel: :stylesheet, type: 'text/css', href: '/styles/main.css' }
%link{ rel: :stylesheet, type: 'text/css', href: '/styles/mobile.css', media: '(max-width: 768px)' }
%link{ rel: :stylesheet, type: 'text/css', href: '//fonts.googleapis.com/css?family=Open+Sans:400,600' }
%title= 'Dashboard'

%header
  %h1= 'Dashboard'

%section.twitch
  != yield

%footer
  %section.about
    %h2= 'About'
    %p
      %a{ href: 'http://s.vivelin.net/' }= 'Images'
      = '—'
      %a{ href: 'http://vivelin.net/' }= 'Vivelin.net'
  
:javascript
  var followedChannels = #{ settings.channels };
  var clientID = '#{ settings.clientID }';
%script{ src: '/scripts/dashboard.js', defer: true }
%script{ src: '/assets/jquery-1.11.2.min.js' }